@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Itim&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans TC", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant", "Noto Sans TC", serif;
}

a {
    text-decoration: none;
}

.com-img {
    background-image: url(../images/default.jpg);
    background-position: center;
    background-size: cover;
}

.con-cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================== Header Start ====================== */
.logo {
    color: #fff;
}

.logo:hover {
    /* color: #e4c6ae; */
}

.bd-navbar {
    background-color: #533633;
    color: #fff;
}

.nav li {
    padding: 0 16px;
    letter-spacing: 2px;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    color: #e4c6ae;
    text-decoration: none;
}

/* ====================== About Start ====================== */
.about-imgs {
    display: flex;
    justify-content: space-evenly;

}

.about-img {
    width: 40%;
}

.about h1 {}

/* ====================== Menu Start ====================== */
.menu-ul {
    display: flex;
}

.menu-li {
    height: 80vh;
    color: #fff;
    background-color: #494949;
    flex: 1;
    transition: flex 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-li img,
.menu-text {
    position: absolute;
}


.menu-filter:hover {
    display: block;
}

.menu-li img {
    width: auto;
    height: 100%;
    filter: brightness(0.8) blur(20px);
    transform: scale(1.5);
}

.menu-li .hover,
.menu-li .active {
    filter: brightness(1) blur(0);
}

.menu-li.hover {
    flex: 2;
}

.menu-li.active {
    flex: 12;
}

.menu-li:not(.active):not(.hover) {
    flex: 1;
}


/* -- ====================== News Start ====================== */
.news-big-img {
    width: 100%;
    aspect-ratio: 16 / 9;

}

.news-img {
    width: 100%;
    aspect-ratio: 14 / 9;
}

.news-row {
    display: flex;
}

.news-content {
    padding-left: 20px;
}

/* -- ====================== Contact Start ====================== */
.contact-border {
    border: 1px solid #D1C1C0;
}

.contact-img {
    background-image: url(../images/default.jpg);
    background-position: center;
    background-size: cover;
}

.contact-card {
    background-color: #663130;
}

.contact-form div {
    display: flex;
    padding: 4px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin: 4px;
}

.contact-form input {
    width: 100%;
}

/* ====================== Login Start ====================== */
.login-title {
    color: #fff;
    text-align: center;
}

/* ====================== Footer Start ====================== */
.marquee {
    background-color: #A27474;
    color: #fff;
    font-size: 40px;
    font-family: "Cormorant", serif;
}

.info {
    background-color: #FBF2ED;
    color: #A27474;
}

.info h3 {
    color: #663120;
}

.regular {
    background-color: #6C3A39;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.regular a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

/* ====================== Admin Start ====================== */

.logo {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    font-family: "Dancing Script", cursive;
}

#admin aside,
#admin main {
    height: 80vh;
}

.options {
    background-color: #e4c6ae;
    height: 100%;
    border-radius: 8px;
}

.options ul {
    padding: 0;
    margin: 0 16px;
    cursor: pointer;
}

.options ul li a {
    padding: 12px;
    width: 100%;
    height: 100%;
    color: #533633;
    text-decoration: none;
    display: block;
}

.options ul li:hover {
    background-color: #fff;
}


.interface {
    width: 100%;
    height: 100%;
    background-color: #e4c6ae;
    border-radius: 8px;
}

.admin-main {
    display: flex;
    height: 100%;
}

.admin-main>div {
    width: 50%;
    padding: 24px;
}

.admin-right {
    height: 100%;
}

.admin-row {
    max-height: 80%;
    overflow-y: auto;
}

.admin-form {
    height: 100%;
}

.admin-form>div {
    margin: 8px 0;
}

.admin-add {
    text-align: right;
}

.admin-table {
    width: 100%;
}

.admin-table {
    border-collapse: separate;
    border-spacing: 8px 0;
}

.admin-table td,
.admin-table th {
    padding: 8px;
    text-align: center;
}

.admin-main tr:nth-child(odd) {
    background-color: #D1C1C0;
}

.admin-main tr:nth-child(even) {
    background-color: #FFFFFF;
}

.admin-table th {
    background-color: #663120;
    color: #fff;
    text-align: center;
}

.admin-buttons {
    display: flex;
}

.admin-button {
    width: 50%;
    padding: 8px;
    border: 0;
    margin: 8px;
}

.admin-button:hover {
    background-color: #663120;
    color: #fff;
}

.input-text {
    width: 100%;
}