* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {}

/* ====================== Header Start ====================== */
.bd-navbar {
    background-color: #aaa;
}

/* ====================== About Start ====================== */

.about-imgs {
    display: flex;
    justify-content: space-evenly;

}

.about-img {
    width: 40%;
    background-image: url(../images/default.jpg);
    background-position: center;
    background-size: cover;
}

/* ====================== Menu Start ====================== */
.menu-li {
    height: 80vh;
    color: #fff;
    background-color: #494949;
}